<header>
  <h1 id='layoutName{{thisLayout.lay_id}}'class = 'layoutName'>{{thisLayout.lay_name}}</h1>

  <select class="dropDown" id='widgetOptions'>
    <option value="">Widgets</option>
    {{#each allWidgets}}
      <option value="{{this.wid_id}}">{{this.wid_name}}</option>
    {{/each}}
  </select>
  <button type="reset" onclick="addWidget()">Add</button>
</header>

{{#each theseWidgets}}
  <script>
  console.log(JSON.stringify('{{this.laywid_id}}'));
  populate("{{this.wid_name}}",'widget{{this.laywid_id}}',{{this.laywid_x}},{{this.laywid_y}});
  </script>
{{/each}}
